@font-face {
  font-family: 'TeleType';
  src: url('teletype.ttf');
}

textarea {
  font-family: 'TeleType', 'Courier', serif;
  background: #fffff8;
}

#ttydiv {
  margin: 20px;
  float: left;
}

#ttytext {
  /* Background pattern from Subtle Patterns */
  background-image: url(lightpaperfibers.png);
  background-attachment: local;
}

#fsdiv {
  margin: 20px;
  float: left;
}

h1 {
  font-size: 150%;
  font-family: "Lucida Console"
}